.images {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    height: 30vh;
    gap: 1rem;
}

@media(max-width: 1300px) {
    .images {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        background-color: white;
        height: 20vh;
        gap: 1rem;
    }
}

.text {
    color: red;
}